---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import ProjectList from "../components/ProjectList.astro";
import { proyectosEditoriales } from "../data/projects";

const consultoriaImages = [
  "/uploads/2019/06/BANNER1_teorias.jpg",
  "/uploads/2019/06/BANNER2_teorias.png",
];
---

<Layout title="Proyectos Editoriales — Mediainc">
    <Carousel
    images={consultoriaImages}
    alt="Mediainc"
    height="h-[310px]"
    fit="cover"
    interval={4500}
  />
  <div class="mt-6">
    <img
      src="/uploads/2019/06/Consultancy_OK_OK_Cambio.png"
      alt="Consultancy"
      class="w-full h-auto p-6 border-2 border-white"
    />
  </div>
</Layout>
