---
import Banner from "../components/Banner.astro";
---

<section>
  <Banner image="/uploads/2019/06/BANNERS_VISION.jpg" />

  <div class="flex flex-col ml-auto mt-10 font-medium font-['EB_Garamond']">
    <h1 class="text-center text-[24px] mb-6">
      Media Inc operates at the intersection of meaning and value.
    </h1>
    <section>
      <p class="text-[65px] leading-[1] font-bold text-center">
        A platform where ideas are developed, tested and applied across media,
        projects and cultural analysis.
      </p>
    </section>
  </div>
</section>
