---
import Carousel from "./Carousel.astro";

const heroImages = [
  "/uploads/2014/04/vocero_banner1.png",
  "/uploads/2014/05/voceroa_banner.jpg",
  "/uploads/2014/10/FolioPrensa.jpg",
  "/uploads/2014/10/LT.jpg",
  "/uploads/2014/10/ResidenteMty.jpg",
  "/uploads/2014/10/FolioVolumenBanner.jpg",
  "/uploads/2015/01/LT-venecia.jpg",
  "/uploads/2019/06/Company-Builder.png",
  "/images/lt_banner.jpg",
];
---

<section>
  <Carousel
    images={heroImages}
    alt="Mediainc"
    height="h-[310px]"
    interval={4500}
  />

  <div class="flex flex-col ml-auto mt-10 max-w-3xl font-medium max-w-[500px] text-justify font-['EB_Garamond']">
    
  </div>
</section>
