---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Editorial — Mediainc">
  <section class="py-12">
    <ul id="proyectos-lista" class="flex flex-col gap-10"></ul>
  </section>
</Layout>

<script>
  import { cargarProyectos } from "../../scripts/cargarProyectos";
  cargarProyectos("proyectos-lista", "Editorial");
</script>
